main {
  background-color: white;
  z-index: 1;
}

.kubelt-bg-blue {
  background-color: #1E4FFE;
}

.kubelt-text-blue {
  color: #1E4FFE;
}

.kubelt-border-blue {
  border-color: #1E4FFE;
  border-width: 1px;
}

.kubelt-bg-purple {
  background-color: #280257;
}

.kubelt-text-purple {
  color: #280257;
}

.kubelt-border-purple {
  border-color: #280257;
  border-width: 1px;
}

.kubelt-bg-orange {
  background-color: #FDB23E;
}

.kubelt-text-orange {
  color: #FDB23E;
}

.kubelt-border-orange {
  border-color: #FDB23E;
  border-width: 1px;
}

#hero {
  position: relative;
  background: 
    url(/svg/Banner/Daylight/Rocket.svg),
    url(/svg/Banner/Daylight/LaunchPad.svg),
    url(/svg/Banner/Daylight/Cloud1.svg),
    url(/svg/Banner/Daylight/Cloud2.svg),
    url(/svg/Banner/Daylight/Comet1.svg),
    url(/svg/Banner/Daylight/Comet2.svg),
    url(/svg/Banner/Night/Ground.svg),
    url(/svg/Banner/Night/Planet.svg),
    url(/svg/Banner/Night/Background.svg);
  background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    repeat-x,
    no-repeat,
    no-repeat;
  background-position-x: 
    calc(50% + 18rem),
    calc(50% + 10rem),
    calc(50% + 4rem),
    calc(50% + 21rem),
    calc(50% + 12rem),
    calc(50% + 18rem),
    center,
    calc(50% + 28rem),
    center;
  background-position-y:
    calc(100% - 3.2rem),
    calc(100% - 1rem),
    calc(50% + 3rem),
    calc(50% - 4rem),
    calc(50% - 12rem),
    calc(50% - 10rem),
    bottom,
    calc(50% - 8rem),
    center;
  background-size: 
    auto,
    auto, 
    auto, 
    auto, 
    auto, 
    auto,
    auto, 
    auto,
    cover;
}

#community {
  background-color: #250035;
}

#galaxy {
  background: url(/svg/Community/Community.svg);
  background-repeat: no-repeat;
  background-position-y: calc(50% + 8.5rem);
  background-position-x: center;
  background-size: contain;
}

@media only screen 
  /* and (min-device-width: 375px)  */
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #hero {
      background: 
        url(/svg/Banner/Night/Planet.svg),
        url(/svg/Banner/Night/Background.svg);
      background-repeat: 
        no-repeat,
        no-repeat;
      background-position-x: 
        calc(50% + 10rem),
        center;
      background-position-y:
        calc(50% - 2rem),
        center;
      background-size: 
        auto,
        cover;
    }

    #community {
      /* height: 100vh; */
    }

    #galaxy {
      background-position-x: center;
      background-position-y: calc(100% - 7rem);
      height: 80vh;
      padding-top: 22rem !important;
    }

    /* #features {
      display: none;
    } */
}


/* #galaxy {
  background:
    url(/svg/Community/1.svg),
    url(/svg/Community/2.svg),
    url(/svg/Community/3.svg),
    url(/svg/Community/4.svg),
    url(/svg/Community/5.svg),
    url(/svg/Community/Background.svg);
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat;
    background-position-x: 
      calc(50% - 33rem),
      center,
      calc(50% + 18rem),
      calc(50% - 19rem),
      calc(50% + 27rem),
      center;
    background-position-y: 
      calc(50%),
      calc(50% + 1rem),
      calc(50% + 1rem),
      calc(50% + 2rem),
      calc(50% + 3.5rem),
      calc(50%);
    background-size: 
      auto,
      auto,
      auto,
      auto,
      auto,
      cover;
} */